<button class="open-nav" (click)="togglenav()" [class.rotated]="navActive">
  <div class="pokeball pokeball-animated"></div>
</button>
<div class="nav-overlay" [class.active]="navActive" (click)="closenav()"></div>
<nav [class.active]="navActive">
  <ul>
    <li>
      <a [routerLink]="'/'" routerLinkActive="active" (click)="closenav()">Home</a>
    </li>

    <li>
      <a [routerLink]="'/pokedex'" routerLinkActive="active" (click)="closenav()">Pokedex</a>
    </li>
    <li>
      <a [routerLink]="'/team-builder'" routerLinkActive="active" (click)="closenav()"
        >Team Builder</a
      >
    </li>

    <li>
      <a [routerLink]="'/type-chart'" routerLinkActive="active" (click)="closenav()">Type Chart</a>
    </li>
    <li>
      <a [routerLink]="'/about'" routerLinkActive="active" (click)="closenav()">About Us</a>
    </li>
  </ul>
</nav>
