<button class="open-nav" (click)="togglenav()" [class.rotated]="navActive">
  <div class="pokeball pokeball-animated"></div>
</button>
<div class="nav-overlay" [style.display]="navActive ? 'block' : 'none'" (click)="closenav()"></div>
<nav [class.active]="navActive">
  <ul>
    <li>
      <a
        [routerLink]="'/'"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="closenav()"
        >Home</a
      >
    </li>
    <li>
      <a [routerLink]="'/quiz'" routerLinkActive="active" (click)="closenav()">Quiz</a>
    </li>
    <li>
      <a [routerLink]="'/showdown'" routerLinkActive="active" (click)="closenav()">Showdown</a>
    </li>
    <li>
      <a [routerLink]="'/about'" routerLinkActive="active" (click)="closenav()">About</a>
    </li>
  </ul>
</nav>
